.containergeral {
  background-color: #001233;
  display: flex;
  flex-direction:column;
  width: 260px;
  height: 100vh;
  
  text-align: center;
}

.logo{
  display: flex;
  align-items: center;
  padding-left: 3em;
    height: 7vh;
    
    border-bottom: 1px solid #c8cbd9;

    margin-bottom: 1em;
}

.area {
  display: flex;
  flex-direction: row;
  padding-left: 3em;
  align-items: center;
  
  color: #fff;
  
 
}

.descript:hover{
    background-color: #6d76b1;
    cursor: pointer;
    border-radius: 1em;
}
.menu{
  display: flex;
  flex-direction: column;
}