article.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;

  margin: 20px;
}

.container-cards .two-cards {
  display: flex;
  flex-direction: row;
}

div.navbar {
  width: 260px;
  display: flex;
}

div.content {
  width: calc(100% - 260px);
}
