article.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-cards {
  width: 400px;
}

div.navbar {
  width: 260px;
  display: flex;
}

div.content {
  width: calc(100% - 260px);
}
