.box-card {
  box-shadow: 2px 2px 0.4em #001233;

  width: 100%;
  height: calc(min-content + 5px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 20px;

  border-radius: 23px;
}

.box-card.visits {
  background-color: #b0c2e3;
}

.container-box-title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.container-box-title h3.title {
  margin: 0.85em 1.3em;

  letter-spacing: 0.01em;
  text-transform: capitalize;
  text-align: center;
  font-size: 1.45em;
  font-weight: 400;
  font-style: oblique;
  color: #001233;
}

.card-content {
  width: 90%;
  padding: 0 12px;
  margin-bottom: 12px;
  margin-top: 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card-content .card-value {
  margin: 0 16px;
}

.card-content .card-value p {
  font-size: 3em;
  font-weight: 400;
  text-align: center;
}
