.box-card {
  box-shadow: 2px 2px 0.4em #001233;

  display: flex;
  flex-direction: column;

  border-radius: 23px;

  height: 85%;
}

.title {
  padding: 0 0.5em;

  text-transform: capitalize;
  text-align: justify;
  font-size: 1.45em;
  font-weight: 400;
  font-style: oblique;
  color: #001233;

  height: 25%;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 75%;
  padding: 0 0.5em;
}

.card-value {
  font-size: 2.5em;
  font-weight: 400;
  text-align: center;
}

.mini-card {
  width: 45%;
}

.big-card {
  width: 92.5%;
}

.big-card img {
  padding-bottom: 1em;
}

/*- Defaults -*/

.default-mini {
  width: 23.5%;
}

.default-big {
  width: 45%;
}
