.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar {
    width: 260px;
    display: flex;
}

.content {
    width: calc(100% - 260px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 93%;
    margin: 1em;
}

.table-container {
    width: 95%;
    padding: 1.5em;
}

.title-container {
    width: 92%;
    margin-top: 1em;
    margin-bottom: 0;
}

.title {
    align-self: flex-start;
}

.box-card {
    margin-left: 0.2em;
    margin-right: 1.3em;
}